services:
  aspire-dashboard:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:latest@sha256:c595d0923b9ec564f16f261d278e7b478032e2e75df9e4a81173ee040b71676d
    ports:
      - "18888:18888"
      - "4317:18889"
  frontend:
    image: ghcr.io/kylejuliandev/ires:v1.2.2@sha256:ba22116775cb14066a2c0f6d8434f913b039a5aa8a415f2b5a1ed90f4e8eed83
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: 8080
      DB_LOCATION: "/data/ires.db"
      Auth__DataProtectionKeysLocation: "/data/keys/"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://aspire-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "frontend"
    env_file:
      - path: .env
        required: true
    ports:
      - "8080:8080"
    volumes:
      - ./data:/data