services:
  aspire-dashboard:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:latest@sha256:f287c6954596315ada6fb45af6ed2e451c45658aeb68d98dc1cfed5b5b253895
    ports:
      - "18888:18888"
      - "4317:18889"
  frontend:
    image: ghcr.io/kylejuliandev/ires:v1.2.1@sha256:4f9c79c5653e7cf902ac74bcc1a05b7986e182391437a1b3db38c24556db7b11
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: 8080
      DB_LOCATION: "/data/ires.db"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://aspire-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "frontend"
    env_file:
      - path: .env
        required: true
    ports:
      - "8080:8080"
    volumes:
      - ./data:/data