services:
  aspire-dashboard:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:latest@sha256:f6929c30f9b96f25b9cabb88dbb6746dfbb00e1d581527165949a0ef556c6eb4
    ports:
      - "18888:18888"
      - "4317:18889"
  frontend:
    image: ghcr.io/kylejuliandev/ires:v2.0.0@sha256:9810629205672c5d85482eef6a0c50c2bee14cf7b25312306ae11c59a560b286
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: 8080
      DB_LOCATION: "/data/ires.db"
      Auth__DataProtectionKeysLocation: "/data/keys/"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://aspire-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "frontend"
    env_file:
      - path: .env
        required: true
    ports:
      - "8080:8080"
    volumes:
      - ./data:/data