@inherits LayoutComponentBase

<div class="page">
    <div class="container mt-5 mb-3">
        <header>
            <NavMenu />
        </header>
    </div>

    <main>
        <div class="container">
            @Body
        </div>
    </main>

    <footer class="my-5 sticky-bottom">
        <div class="container">
            <hr />
            <p class="text-muted text-end">
                Version: @Version -
                Powered by @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
            </p>
        </div>
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private string Version = typeof(Program).Assembly.GetName().Version?.ToString(3) ?? "";
}