<ul class="nav nav-pills">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Birthdays
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="people" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Manage
        </NavLink>
    </li>
</ul>