<NavLink class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="" Match="NavLinkMatch.All">
    <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Home</span>
</NavLink>

<ul class="nav nav-pills">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="people" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> People
        </NavLink>
    </li>
</ul>