@page "/"
@inject IresClient Client

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    protected override async Task OnInitializedAsync()
    {
        var people = await Client.Api.V1.People.GetAsync();

        await base.OnInitializedAsync();
    }
}