@page "/"
@rendermode InteractiveServer
@inject IresDbContext Context

<PageTitle>Home</PageTitle>

<div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="display-3">Upcoming birthdays!</h1>
    <div class="my-5 text-center">
        <ul class="list-group list-group-flush">
            @foreach (var person in upcomingBirthdays)
            {
                <li class="list-group-item shadow my-3 rounded">
                    <p class="fs-4 fw-bold">@person.GivenName @person.FamilyName</p>
                    <span class="fst-italic">in @(person.BirthdayDayOfYear - today.DayOfYear) days</span>
                    <p class="fs-5">@person.DateOfBirth.ToLongDateString()</p>
                </li>
            }
        </ul>
    </div>
</div>

@code {
    private DateOnly today = DateOnly.FromDateTime(DateTime.Today);
    private List<Person> upcomingBirthdays = new();

    protected override async Task OnInitializedAsync()
    {
        var from = today.DayOfYear;
        var to = today.AddDays(30).DayOfYear;

        upcomingBirthdays = await Context.People
            .Where(p => p.BirthdayDayOfYear >= from && p.BirthdayDayOfYear <= to)
            .OrderBy(p => p.BirthdayDayOfYear)
            .ToListAsync();
    }
}