@page "/signin"
@layout BlankLayout
@inject BasicAuthenticationService AuthService
@attribute [AllowAnonymous]

<div class="vh-100 d-flex">
    <div class="form-signin w-100 m-auto">
        <EditForm EditContext="editContext" FormName="signin_form" OnValidSubmit="OnSubmitAsync">
            <h1 class="h3 mb-3 fw-normal">Please Sign in</h1>
            <DataAnnotationsValidator />

            <label for="email" class="form-label">Username</label>
            <div class="input-group has-validation">
                <InputText id="email" class="form-control" @bind-Value="model.Username" />
                <ValidationMessage For="() => model!.Username" class="invalid-feedback" />
            </div>

            <label for="password" class="form-label mt-3">Password</label>
            <div class="input-group has-validation">
                <InputText id="password" class="form-control" type="password" @bind-Value="model.Password" />
                <ValidationMessage For="() => model!.Password" class="invalid-feedback" />
            </div>

            
            <div class="form-check text-start my-3">
                <label for="rememberme" class="form-check-label">Remember me</label>
                <InputCheckbox id="rememberme" class="form-check-input" @bind-Value="model.RememberMe" />
            </div>

            @if (loginResultMessage is not null)
            {
                <p class="text-danger">@loginResultMessage</p>
            }

            <button class="btn btn-primary w-100 my-2" type="submit">Submit</button>
            
        </EditForm>
    </div>
</div>

@code {
    private EditContext? editContext;

    [SupplyParameterFromForm(FormName = "signin_form")]
    private SignInModel? model { get; set; }

    private string? loginResultMessage;

    protected override void OnInitialized()
    {
        model ??= new SignInModel();
        editContext = new EditContext(model);
        editContext.SetFieldCssClassProvider(new CustomFieldClassProvider());
    }

    public async Task OnSubmitAsync()
    {
        var success = await AuthService.AuthenticateAsync(model.Username, model.Password, model.RememberMe);

        if (!success)
        {
            loginResultMessage = "Invalid username or password!";
            model.Username = string.Empty;
            model.Password = string.Empty;
        }
    }
}
