@page "/signup"
@layout BlankLayout
@inject BasicAuthenticationService AuthService
@inject NavigationManager NavManager
@attribute [AllowAnonymous]

<div class="vh-100 d-flex">
    <div class="form-signup w-100 m-auto">
        <EditForm EditContext="editContext" FormName="signup_form" OnValidSubmit="OnSubmitAsync">
            <h1 class="h3 mb-3 fw-normal">Sign up</h1>
            <DataAnnotationsValidator />

            <label for="email" class="form-label">Username</label>
            <div class="input-group has-validation">
                <InputText id="email" class="form-control" @bind-Value="model.Username" />
                <ValidationMessage For="() => model!.Username" class="invalid-feedback" />
            </div>

            <label for="password" class="form-label mt-3">Password</label>
            <div class="input-group has-validation">
                <InputText id="password" class="form-control" type="password" @bind-Value="model.Password" />
                <ValidationMessage For="() => model!.Password" class="invalid-feedback" />
            </div>

            @if (loginResultMessage is not null)
            {
                <p class="text-danger">@loginResultMessage</p>
            }

            <button class="btn btn-success w-100 my-5" type="submit">Submit</button>

        </EditForm>
    </div>
</div>

@code {
    private EditContext? editContext;

    [SupplyParameterFromForm(FormName = "signup_form")]
    private SignUpModel? model { get; set; }

    private string? loginResultMessage;

    [Parameter]
    [SupplyParameterFromQuery(Name = "returnUrl")]
    public string? ReturnUrl { get; set; }

    protected override void OnInitialized()
    {
        model ??= new SignUpModel();
        editContext = new EditContext(model);
        editContext.SetFieldCssClassProvider(new CustomFieldClassProvider());
    }

    public async Task OnSubmitAsync()
    {
        var success = await AuthService.RegisterAsync(model.Username, model.Password);

        if (!success)
        {
            loginResultMessage = "Invalid username or password!";
            model.Username = string.Empty;
            model.Password = string.Empty;
        }
        else
        {
            NavManager.NavigateTo(string.IsNullOrWhiteSpace(ReturnUrl) ? "/" : ReturnUrl!, true);
        }
    }
}
