@using Ires.Frontend.Components.Pages.People.Models
@inject IresDbContext Context
@inject IJSRuntime JSRuntime

<div class="row justify-content-around pt-3">
    <div class="col">
        <h4>Addresses</h4>
        <p class="title-footer">Information about their addresses.</p>
    </div>
    <div class="col-1 align-content-center text-end">
        <a class="btn btn-success" @onclick="OpenDialogAsync">+</a>
    </div>
</div>

<hr />

@if (filteredAddresses.Any())
{
    <h5>Home</h5>
    <div class="row">
        @foreach (var address in filteredAddresses.Where(fa => fa.Type == AddressType.Home))
        {
            <AddressCard Address="address" OnAddressDeleted="OnAddressDeleted" />
        }
    </div>
}

<div class="modal @_dialogCss" tabindex="-1" aria-hidden="true">
    <EditForm EditContext="createAddressEditContext" OnValidSubmit="@HandleValidSubmit" FormName="address_entry_form">
        <DataAnnotationsValidator />

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Add address</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="CloseDialogAsync"></button>
                </div>
                <div class="modal-body">
                    <AddAddress Model="createAddressModel" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="CloseDialogAsync">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public required Guid PersonId { get; set; }

    [Parameter]
    public required CreatePersonModel Model { get; set; }

    private EditContext? createAddressEditContext;

    [SupplyParameterFromForm(FormName = "address_entry_form")]
    private CreateAddressModel? createAddressModel { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private IQueryable<Address> filteredAddresses { get; set; } = Enumerable.Empty<Address>().AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        var faker = new Bogus.Faker<CreateAddressModel>()
            .RuleFor(f => f.Street, f => f.Address.StreetAddress())
            .RuleFor(f => f.City, f => f.Address.City())
            .RuleFor(f => f.State, f => f.Address.County())
            .RuleFor(f => f.Country, f => "United Kingdom")
            .RuleFor(f => f.PostalCode, f => f.Address.ZipCode())
            .Generate();

        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var userIdClaim = authState.User.Claims.First(c => c.Type == ClaimTypes.NameIdentifier);
            var userId = Guid.Parse(userIdClaim.Value);

            filteredAddresses = Context.Addresses
                .Where(a => a.CreatedById == userId)
                .Where(a => a.People.Any(p => p.Id == PersonId));
        }

        createAddressModel = faker;
        createAddressEditContext = new EditContext(createAddressModel);
        createAddressEditContext.SetFieldCssClassProvider(new CustomFieldClassProvider());
    }

    private async Task HandleValidSubmit()
    {
        if (authenticationState is null)
        {
            return;
        }

        var authState = await authenticationState;
        var userIdClaim = authState.User.Claims.First(c => c.Type == ClaimTypes.NameIdentifier);
        var userId = Guid.Parse(userIdClaim.Value);

        var address = new Address
        {
            Type = createAddressModel.AddressType.GetAddressType(),
            Street = createAddressModel.Street,
            City = createAddressModel.City,
            State = createAddressModel.State,
            Country = createAddressModel.Country,
            PostalCode = createAddressModel.PostalCode,
            CreatedById = userId
        };

        var person = await Context.People.FindAsync(PersonId);

        address.People.Add(person);

        Context.Addresses.Add(address);

        await Context.SaveChangesAsync();

        await CloseDialogAsync();
    }

    private bool _dialogOpen;
    private string _dialogCss => _dialogOpen ? "show" : "hide";

    private Task OpenDialogAsync()
    {
        _dialogOpen = true;

        return Task.CompletedTask;
    }

    private Task CloseDialogAsync()
    {
        _dialogOpen = false;

        return Task.CompletedTask;
    }

    private async Task OnAddressDeleted()
    {
        StateHasChanged();
    }
}
