@page "/people"
@rendermode InteractiveServer
@inject IresDbContext Context
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime

<PageTitle>Manage</PageTitle>

<div class="row justify-content-around pt-3">
    <div class="col">
        <h4>Manage</h4>
        <p class="title-footer">Quickly manage and update your connections.</p>
    </div>
    <div class="col-1 align-content-center text-end">
        <button class="btn btn-success" type="button" @onclick="NavigateToAddPerson">+</button>
    </div>
</div>

<hr />

<div class="row mt-5">
    @foreach (var person in filteredPeople)
    {
        <PersonCard Person="person" />
    }
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private IQueryable<Person> filteredPeople { get; set; } = Enumerable.Empty<Person>().AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var userIdClaim = authState.User.Claims.First(c => c.Type == ClaimTypes.NameIdentifier);
            var userId = Guid.Parse(userIdClaim.Value);
            filteredPeople = Context.People
                .Where(p => p.CreatedById == userId)
                .OrderBy(p => p.GivenName);
        }
    }

    private void NavigateToAddPerson(MouseEventArgs _)
    {
        NavManager.NavigateTo("/people/add", replace: true);
    }
}
